.wrapper{
   border: 1px solid black;
   margin: 10mm auto;
   width: 210mm;
   height: 297mm;
}

.a{ 
    margin-top: 25mm;
    text-align: center;
    font-size: 25px;
}

.b{
    text-align: center;
    font-size: 25px;
    margin-top: 70mm;
}

.c{
   margin-top: 55mm;
   margin-left: 85mm;
   font-size: 25px;
   line-height: 0.2;
}

span{
   text-decoration: underline;
}

.d{
   margin-top: 50mm;
   text-align: center;
   font-size: 23px;
}