.wrapper{
   border-style: solid;
   margin: 20mm 20mm 20mm 70mm;
   width: 210mm;
   height: 297mm;
}

.d{ 
    text-align: center;
    font-size: 25px;
}

.a{
    text-align: center;
    font-size: 25px;
    margin-top: 80mm;
}

.b{
   margin-top: 60mm;
   margin-left: 80mm;
   font-size: 25px;
   line-height: 5px;
}

span{
   text-decoration: underline;
}

.c{
   margin-top: 50mm;
   text-align: center;
   font-size: 23px;
}