@import url("https://fonts.googleapis.com/css?family=Yantramanav&display=swap");

.content {
    .mission {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 100px 100px 200px;
        justify-items: center;
        background-color: rgb(246, 246, 253);

        .ba {
            margin-top: 35px;
            justify-items: center;
            border-top: rgb(216, 215, 215) solid 6px;
            border-bottom: rgb(216, 215, 215) solid 6px;
            width: 90px;
            height: 50px;
            position: relative;

            p {
                position: absolute;
                width: 160px;
                left: -30px;
                padding-top: 10px;
                font-size: 23px;
                color: rgb(61, 60, 60);
                font-family: "Yantramanav", sans-serif;
            }
        }
        p {
            font-size: 28px;
            font-family: "Yantramanav", sans-serif;
        }
        span {
            p {
                font-size: 18px;
            }
        }
        .goal-pillars {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            .goal-pillars-food {
                text-align: center;

                a {
                    text-decoration: none;
                    img {
                        border-radius: 50%;
                    }
                    p {
                        color: rgba(175, 6, 6, 0.87);
                    }
                }
            }

            .goal-pillars-climate {
                text-align: center;

                a {
                    text-decoration: none;
                    img {
                        border-radius: 50%;
                    }
                    p {
                        color: rgba(209, 94, 18, 0.87);
                    }
                }
            }

            .goal-pillars-fresh {
                text-align: center;

                a {
                    text-decoration: none;
                    img {
                        border-radius: 50%;
                    }
                    p {
                        color: rgb(28, 94, 99);
                    }
                }
            }

            .goal-pillars-wildlife {
                text-align: center;

                a {
                    text-decoration: none;
                    img {
                        border-radius: 50%;
                    }
                    p {
                        color: rgb(97, 7, 105);
                    }
                }
            }

            .goal-pillars-forests {
                text-align: center;

                a {
                    text-decoration: none;
                    img {
                        border-radius: 50%;
                    }
                    p {
                        color: rgb(41, 107, 16);
                    }
                }
            }

            .goal-pillars-oceans {
                text-align: center;

                a {
                    text-decoration: none;
                    img {
                        border-radius: 50%;
                    }
                    p {
                        color: rgb(29, 56, 177);
                    }
                }
            }
        }
    }
    .row {
        padding-top: 50px;
        padding-left: 70px;
        width: 90%;
        height: 440px;
        .row1 {
            display: grid;
            grid-template-columns: 1fr 1fr 50%;
            grid-template-rows: 480px;
            grid-column-gap: 10px;
            .item1 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 45%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18457/images/card_1_large/DRTV_homepage_polarbear.jpg?1579107326);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 40%;
                        background-color: black;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 0 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: rgb(212, 209, 209);
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .item2 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 40%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/16679/images/card_1_large/Medium_WW1105624.jpg?1546543826);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 35%;
                        background-color: black;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 0 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: rgb(212, 209, 209);
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .item3 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 50%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18815/images/card_2_large/Medium_WW2122526.jpg?1585254990);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 45%;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 25px 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: white;
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    .row2 {
        padding-top: 50px;
        padding-left: 70px;
        width: 90%;
        height: 440px;
        .row1 {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: 480px;
            grid-column-gap: 10px;
            .item3 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 35%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18787/images/card_1_large/Medium_WW215500.jpg?1584635548);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 30%;
                        background-color: black;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 0 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: rgb(212, 209, 209);
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .item2 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 35%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18828/images/card_1_large/Medium_WW226256.jpg?1585681838);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 30%;
                        background-color: black;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 0 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: rgb(212, 209, 209);
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .item1 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 30%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/14746/images/card_2_large/Medium_WW1357.jpg?1511965400);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 25%;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 25px 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: white;
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }

    .row3 {
        padding-top: 50px;
        padding-left: 70px;
        width: 90%;
        height: 440px;
        .row1 {
            display: grid;
            grid-template-columns: 1fr 1fr 50%;
            grid-template-rows: 480px;
            grid-column-gap: 10px;
            .item1 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 40%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18756/images/card_1_large/2020-03-koala-wallpaper.jpg?1583771461);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 35%;
                        background-color: black;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 0 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: rgb(212, 209, 209);
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .item2 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(0.97);
                    border-radius: 10px;
                }

                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-color: black;

                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        top: 20px;
                        width: 100%;
                        height: 35%;

                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 0 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: rgb(212, 209, 209);
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .item3 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 35%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18700/images/card_2_large/NatureIsDynamic_1600x600.jpg?1582753328);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 30%;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 25px 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: white;
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .bba {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px;
        justify-items: center;
        

       

      

        .ba {
            margin-top: 100px;
            margin-bottom: 100px;
            justify-items: center;
            border-top: rgb(216, 215, 215) solid 6px;
            border-bottom: rgb(216, 215, 215) solid 6px;
            width: 90px;
            height: 50px;
            position: relative;

            p {
                position: absolute;
                width: 200px;
                left: -40px;
                padding-top: 10px;
                font-size: 23px;
                color: rgb(61, 60, 60);
                font-family: "Yantramanav", sans-serif;
            }
        }
    }

    .row4 {
        padding-top: 50px;
        padding-left: 70px;
        width: 90%;
        height: 440px;
        .row1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 480px;
            grid-column-gap: 10px;
            
            .item1 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 35%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/18794/images/card_2_large/shutterstock_1370008520.jpg?1584668035);
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 30%;
                        background-color: black;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 0 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: rgb(212, 209, 209);
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .item2 {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                &:hover a .photo-item {
                    transform: scale(1.1);
                }
                &:hover a .text-item {
                    height: 40%;
                }
                a {
                    .photo-item {
                        width: 100%;
                        height: 480px;
                        background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/18053/images/card_2_large/Small_WW164079_%281%29.jpg?1572550575');
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.2s;
                    }
                    .text-item {
                        position: absolute;
                        bottom: -20px;
                        width: 100%;
                        height: 35%;
                        transition: all 0.2s;
                        div {
                            width: 80%;
                            padding: 25px 0 25px 25px;
                            text-decoration: none;
                            font-family: "Yantramanav", sans-serif;
                            span {
                                color: white;
                                font-size: 16px;
                            }
                            p {
                                color: white;
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
