@media (max-width: 1200px) {
    body {
        .wrapper {
            .header {
                .wrapper-header {
                    width: 100%;
                    min-height: 470px;
                    display: grid;
                    grid-template-columns: 12% 1fr 1.3fr;
                    grid-template-rows: 300px 50px 120px;
                    justify-items: center;

                    .nav-menu-center {
                        width: 85%;
                        margin-top: 70px;
                    }
                    .nav-right {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1107px) {
    body {
        .wrapper {
            .header {
                .wrapper-header {
                    width: 100%;
                    min-height: 470px;
                    display: grid;
                    grid-template-columns: 12% 1fr 1.3fr;
                    grid-template-rows: 300px 50px 120px;
                    justify-items: center;

                    .nav-menu-center {
                        width: 100%;
                        margin-top: 70px;
                        position: relative;
                        left: 150px;
                    }
                    .nav-right {
                        width: 100%;

                        position: relative;
                        right: 20px;
                    }
                }
            }

            .content {
                .mission {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 150px 100px 100px 400px;
                    justify-items: center;
                    background-color: rgb(246, 246, 253);
                    .goal-pillars {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 200px 200px;
                    }
                }

                .row {
                    padding-left: 40px;
                }
                .row2 {
                    padding-left: 40px;
                }
                .row3 {
                    padding-left: 40px;
                }
                .row4 {
                    padding-left: 40px;
                }
            }
        }
    }
}
@media (max-width: 950px) {
    body {
        .wrapper {
            .header {
                .wrapper-header {
                    width: 100%;
                    min-height: 470px;
                    display: grid;
                    grid-template-columns: 12% 1fr 1.3fr;
                    grid-template-rows: 300px 50px 120px;
                    justify-items: center;

                    .nav-menu-center {
                        width: 100%;
                        margin-top: 70px;
                        position: relative;
                        left: 150px;
                    }
                    .nav-right {
                        width: 100%;
                        position: relative;
                        right: 20px;
                    }
                }
            }
            .content {
                .mission {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 150px 100px 100px 400px;
                    justify-items: center;
                    background-color: rgb(246, 246, 253);
                    .goal-pillars {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 200px 200px;
                    }
                }

                .row {
                    padding-left: 30px;
                    height: 935px;
                    .row1 {
                        display: grid;
                        grid-template-columns: 45% 45%;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                        padding-left: 15%;
                        .item3 {
                            width: 203%;
                        }
                    }
                }
                .row2 {
                    padding-left: 30px;
                    height: 935px;
                    .row1 {
                        display: grid;
                        grid-template-columns: 45% 45%;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                        padding-left: 15%;
                        .item3 {
                            width: 203%;
                        }
                    }
                }
                .row3 {
                    padding-left: 30px;
                    height: 935px;
                    .row1 {
                        display: grid;
                        grid-template-columns: 45% 45%;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                        padding-left: 15%;
                        .item3 {
                            width: 203%;
                        }
                    }
                }
                .row4 {
                    padding-left: 30px;
                    height: 935px;
                    .row1 {
                        display: grid;
                        grid-template-columns: 92%;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;
                        padding-left: 15%;
                        .item3 {
                            width: 203%;
                        }
                    }
                }
            }
            .footer {
                .signup-login {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 70px 70px;
                    background-color: black;
                }
                .contacts {
                    margin-left: 50px;
                }
            }
        }
    }
}
@media (max-width: 860px) {
    body {
        .wrapper {
            .header {
                .wrapper-header {
                    width: 100%;
                    min-height: 470px;
                    display: grid;
                    grid-template-columns: 12% 1fr 1.3fr;
                    grid-template-rows: 300px 50px 120px;
                    justify-items: center;

                    .nav-menu-center {
                        width: 120%;
                        margin-top: 70px;
                        position: relative;
                        left: 150px;
                    }
                    .nav-right {
                        width: 120%;
                        padding-right: 20px;
                        position: relative;
                        right: 60px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    body {
        .wrapper {
            .header {
                .header768 {
                    display: inline-block;
                }
                .wrapper-header {
                    width: 100%;
                    min-height: 470px;
                    display: grid;
                    grid-template-columns: 12% 1fr 1.3fr;
                    grid-template-rows: 300px 50px 120px;
                    justify-items: center;
                    .header-logo {
                        display: none;
                    }
                    .heading {
                        margin-top: 40%;
                    }
                    .nav-menu-center {
                        display: none;
                        width: 120%;
                        margin-top: 70px;
                        position: relative;
                        left: 150px;
                    }
                    .nav-right {
                        display: none;
                        width: 120%;
                        padding-right: 20px;
                        position: relative;
                        right: 50px;
                    }
                }
            }

            .content {
                width: 100%;
                .mission {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 150px 100px 100px 400px;
                    justify-items: center;
                    background-color: rgb(246, 246, 253);
                    .goal-pillars {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 200px 200px;
                    }
                }

                .row {
                    width: 90%;

                    .row1 {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        padding-left: 0;
                        padding-right: 0;

                        .item3 {
                            width: 203%;
                        }
                    }
                }

                .row2 {
                    width: 90%;

                    .row1 {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        padding-left: 0;
                        padding-right: 0;

                        .item3 {
                            width: 203%;
                        }
                    }
                }
                .row3 {
                    width: 90%;

                    .row1 {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        padding-left: 0;
                        padding-right: 0;

                        .item3 {
                            width: 203%;
                        }
                    }
                }
                .row4 {
                    padding-left: 5px;
                    height: 935px;
                    .row1 {
                        display: grid;
                        grid-template-columns: 92%;
                        grid-template-rows: 480px 480px;
                        grid-column-gap: 10px;
                        grid-row-gap: 10px;

                       
                    }
                }
            }
        }
    }
}
