.a1{
    margin-top: 50px;
    width: 1350px;
    height: 200px;
    background-color: rgb(127, 179, 149);
}
img{
    transition: 3s;
    -webkit-transition: 3s;
}
img:hover{
    transform:  translate(1150px) rotate(360deg);
    -webkit-transform: translate(1150px) rotate(360deg);
}

